.photos{
	display: block;
	max-width: 500px;
	max-height: 500px;
	width:auto;
	height:auto;
}

.small{
	max-width: 400px;
	max-height:400px;
}

.big{
	display: block;
	max-width: 100%;
	max-height:1200px;
	margin: 0 auto;
}

.Sentence{
	font-family:"Zapfino";
	font-style: italic;
	font-size: xx-large;
	font-weight: bolder;
	line-height: 4em;
	color:#8B7500;
	text-shadow: 3px 3px #FFFACD
}

.Sentence1{
	font-family:"Zapfino";
	font-style: italic;
	font-size: 50px;
	font-weight: 900;
	line-height: 5em;
	color:#8B7500;
	text-shadow: 3px 3px #FFFACD;
}

.bg{
	background: linear-gradient(rgba(255,138,0,.2),#fff)
}

.Word{
	font-family:"Zapfino";
	font-size: x-large;
	font-weight: bold;
	color:#CD5555;
}

.ShortSen{
	font-family:"Apple Chancery";
	font-size:large;
	color:#8B7500;
}

.ShortSen1{
	font-family:"Apple Chancery";
	font-size:xx-large;
	color:#8B7500;
	line-height: 0em;
	text-shadow: 2px 2px #FFFACD;
}




